/akagi.log
/detect_test.py
/detect_window.py
/proto_test.py
/test.py
/test2.py
/test3.py
/VENV
/__pycache__
/client.bat
/mitm.bat
/mjai.app/target
*.pyc
*/__pycache__
/.vscode
/data
/mitm_playwright.bat
/playwright_test.py
/unlocker_test.py
/objects
/players/bot
/players/docker
/players/_docker
/players/bot.zip