# Basic
mjai==0.2.1
mitmproxy==11.1.2
loguru==0.7.3
textual==3.0.0
requests==2.32.3
jsonschema==4.23.0

# Majsoul
protobuf==5.29.3

# PyTorch
torch==2.5.1
numpy==2.1.2

# Autoplay
playwright==1.49.0

# WebUI
fastapi==0.115.0
uvicorn==0.30.0
websockets==12.0
watchdog==4.0.0
